@import './layout.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.title {
  font-family: 'Raleway', sans-serif;
}

#logo-mark { font-size: 1.2em; font-weight: bolder; }
#piece-name { font-size: 2.0em; font-weight: bolder; }
#piece-description {
  max-width: 30vw;
  line-height: 1.15em;
  z-index: 1;
  }

canvas {
  outline: none;
}
#piece-box-container {
  height: 12rem;
  width: 18rem;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  #piece-box {
    position: relative;
    &::before {
      content: '';
      position: fixed;
      background: linear-gradient(90deg,#FFF 0, transparent 0.8em, #FFF 100%);
      width: 18rem;
      height: 12rem;
      pointer-events: none;
    }
    .box {
      width: 10rem;
      height: 10rem;
      margin: 0 .8rem 0 0.8em;
      border-radius: 16px;
      outline: none;
      &:nth-child(odd) {
        background-color: #EAEAEA;
      }
      &:nth-child(even) {
        background-color: #212121;
      }
    }

  }
}
