{
  "root": true,
  "parserOptions": {
    /** String.prototype.matchAll, import, BigInt, Promise.allSettled, globalThis, for-in mechanics, optional chain, nullish coalescing */
    "ecmaVersion": 2020,
    // "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error"
  },
  "overrides": [
    {
      "files": ["*.test.*", "*.spec.*", "*.mock.*"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./src"]
        ]
      }
    }
  }
}