.fragment-card {
  transition: transform 0.1s ease-in-out;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 30vh;
  border-radius: 2px;
  box-shadow: 2px 2px 10px #EEE;
  transform: scale(0); 
}

#catelogue, #preferlink {
  grid-template-columns: repeat(4, 1fr);
}

@for $i from 0 to 16 {
  .fragment-card:nth-child(#{$i}n) {
    animation: fragment-card-show 0.32s #{(($i - 1) % 4 + $i / 4) * 0.08}s forwards;
  }
}

@keyframes fragment-card-show {
  to {  transform: scale(1.0); }
}

#catelogue, #preferlink {
  display: grid;
  width: 100%;
  grid-gap: 16px;
  padding: 16px;
}

.showcase, .title {
  flex: 1 0 auto;
}
.showcase {
  background: #EEE;
  height: 65%;
  overflow: hidden;
}

.title {
  height: 35%;
  color: transparent;
  background: linear-gradient(270deg,
    #ffc107 0%, #f7c978 10%, #EAA 13%, #f18271 25%, #e22007 38%,
    #f7c978 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%
  );
  background-size: 400% 400%;
  animation: gradient-animator 15s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  .link {
    display: inline-block;
    padding: 2px 12px;
    transition: padding 0.4s ease, font-size 0.4s ease;
    color: transparent;
    font-size: 2em;
    font-weight: thin;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    cursor: pointer;
  }
}

#lab-react-sample {
  background-color: #1F232A;
}


@media (max-width: 1440px) {
  #catelogue, #preferlink {
    grid-template-columns: repeat(3, 1fr);
  }
  .link {
    padding: 12px 20px;
    font-size: 1.8em;
  }
}

@media (max-width: 960px) {
  #catelogue, #preferlink {
    grid-template-columns: repeat(2, 1fr);
  }
  .link {
    padding: 5px 15px;
    font-size: 1.4em;
  }
}

@media (max-width: 540px) {
  #catelogue, #preferlink {
    grid-template-columns: repeat(1, 1fr);
  }
  .link {
    padding: 10px;
    font-size: 1.2em;
  }
}

@keyframes gradient-animator {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
