$vue-primary: #41B883;
$vue-secondary: #34495E;
$react-primary: #212121;
$react-secondary: #61DBFB;
$js-primary: #f0db4f;
$js-secondary: #323330;
$webgl-primary: #E76F51;
$webgl-secondary: #F4A261;
$build-primary: #8dd6f9;
$build-secondary: #1d78c1;

@import url('https://fonts.googleapis.com/css?family=Roboto|Noto+Serif+JP|Noto+Serif+SC|Noto+Serif+TC&display=swap');

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
}

/* 修复底边留白的问题，默认是 baseline 模式会导致底部有白线 */
img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

html {
  font: 400 1.2em/1.8 "Roboto";
  color: #212121;
}

article {
  padding: 0px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  &.padding {
    padding: 4px;
  }
  &.fullscreen, & .fullscreen {
    padding: 0;
    width: 100%;
    min-height: 100vh;
  }
  &.fullwidth, & .fullwidth {
    width: 100%;
  }
  &.fullheight, & .fullheight {
    height: 100vh;
  }
}

.serif {
  font-family: Noto Serif SC,Noto Serif TC,Noto Serif JP, serif;
}
.home {
  li {
    cursor: pointer;
    list-style: none;
    padding-left: 8px;
    margin: 1px 2px;
    border-left: 4px solid #666666;
    &:hover {
      transition: all 0.1s ease;
      border-left: 6px solid #212121; /** default border */
    }
  }
  a {
    text-decoration: none;
    color: #264653; /** default color */
  }
  #laboratory-algorithm & {
    li {
      border-left: 4px solid #F4A261;
      &:hover {
        border-left: 6px solid #E76F51;
      }
    }
  }
  #laboratory-graphics & {
    li {
      border-left: 4px solid #F4A261;
      &:hover {
        border-left: 6px solid #E76F51;
      }
    }
  }
  #laboratory-scenario & {
    li {
      border-left: 4px solid #F4A261;
      &:hover {
        border-left: 6px solid #E76F51;
      }
    }
  }
}

.vue-global-nav-link,
.react-global-nav-link {
  // position: absolute;
  display: inline-block;
  margin: 0px 4px 0px 4px;
  font-size: 1em;
  font-family: Roboto, serif;
  text-decoration: none;
  color: #212121;
  transition: all 0.2s;
  &:active, &:visited{
    color: #212121;
  }
  &:hover {
    color: #D62800;
    &:before {
      left: -5px;
    }
    &:after {
      right: -5px;
    }
  }
  &:before {
    position: relative;
    content: '[ ';
  }
  &:after {
    position: relative;
    content:  ' ]';
  }
}

.scroll-x {
  .float-descriptor {
    width: 100%;
    position: absolute;
    line-height: 250px;
    background: transparent;
    text-shadow: 0 0 1px #EEE;
    color: gray;
    text-align: center;
    font-size: 3.5em;
    pointer-events: none;
    code {
      font-family: 'consolas';
      font-weight: bold;
    }
  }
  .inner-square {
    margin: .1em .1em .1em .1em;
    width: 250px;
    height: 250px;
    background: #EEE;
    text-align:center;
    line-height: 250px;
    font-size: 3em;
    font-weight: Bold;
    color: #D0D0D0;
    display: inline-block;
  }
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.no-margin {
  margin: 0 0 0 0 !important;
}
