.grid-container {
    display: grid;
}

.grid-col-2 { grid-template-columns: 1fr 1fr; }
.grid-col-3 { grid-template-columns: 1fr 1fr 1fr; }
.grid-col-4 { grid-template-columns: 1fr 1fr 1fr 1fr; }

@for $i from 5 through 20 {
    .grid-col-#{$i}{
        grid-template-columns: repeat($i, 1fr);
    }
}

@for $i from 1 to 20 {
    .grid-row-#{$i}{
        grid-template-rows: repeat($i, 1fr);
    }
}