.grid-container {
    display: grid;
}

.grid-2 { grid-template-columns: 1fr 1fr; }
.grid-3 { grid-template-columns: 1fr 1fr 1fr; }
.grid-4 { grid-template-columns: 1fr 1fr 1fr 1fr; }
.grid-5 { grid-template-columns: repeat(6,1fr); }
.grid-6 { grid-template-columns: repeat(6,1fr); }
.grid-7 { grid-template-columns: repeat(7,1fr); }

@for $i from 8 through 20 {
    .grid-#{$i}{
        grid-template-columns: repeat($i, 1fr);
    }
}