.fabg-button {
    &.react-style {
        background: #212121;
        color: #61DBFB;
        .cross {
          color: #61DBFB;
        }    
        &:active {
          background: #61DBFB;
          .cross {
            color: #212121;
          }
        }
    
    };
}